<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common-header">

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <link rel="shortcut icon" href="images/favicon.png" type="image/png"/>

        <title th:text="#{default_title}"></title>

        <!-- Bootstrap core CSS -->
        <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
        <link type="text/css" th:href="@{/css/select2.css}" rel="stylesheet" media="screen"/>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="screen" />
        <!-- Custom styles for this template -->
        <link type="text/css" th:href="@{/css/style.default.css}" rel="stylesheet" media="screen"/>
        <link type="text/css" th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>
        <link type="text/css" th:href="@{/css/price-table.css}" rel="stylesheet" media="screen"/>
        <link type="text/css" th:href="@{/css/jquery.datatables.css}" rel="stylesheet" media="screen"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
    </script>
    <script type="text/javascript">

        $(document).ready(function() {


            $("#locales").change(function () {
                var selectedOption = $('#locales').val();
                if (selectedOption != ''){
                    window.location.replace('#?lang=' + selectedOption);
                }
            });

            $(".menutoggle").click(function(){
                $.get("tools/menutoggle?data=true", function(data, status){
                    console.log("Data: " + data + "\nStatus: " + status);
                });
            });

            $(".btn.btn-default.dropdown-toggle.tp-icon").click(function(){

                $.get("tools/getnewuser", function(data) {
                    var obj = JSON.parse(data);

                    if(parseInt(obj.countNewUser) > 0) {
                        //------- change number of new user --------
                        var alertNumberNewUser='<span class="badge">xxx</span>';
                        $('.newUserAlerte').html(alertNumberNewUser.replace('xxx',obj.countNewUser));

                        //------ title of new user ---------
                        var whatIsCookingPlaceholder = /*[[#{alertSuscriptionNewUser}]]*/ '';
                        var titleOfNewUser ='<h5 class="title" text="'+whatIsCookingPlaceholder+'"></h5>';

                        var index = $("#preparationProcessList").find("textarea").length;
                        var elementToAdd = '<h5 class="title"></h5>';

                        //$("#preparationProcessList").append(elementToAdd);

                        $('.titleOfNumberUser').html(elementToAdd);

                        //------ display list of new user -------
                        var a = obj.allNewUser;
                        var properties = a.split(', ');
                        var text='<li class="newUser"><div class="thumb"><a href="yourusers.html"><img src="images/photos/user1.png" alt="" /></a></div><div class="desc"><h5><a href="yourusers.html">changeit</a><span class="badge badge-success">new</span></h5></div></li>';
                        var end='<li class="new"></li>';
                        var tmp="";
                        var res ="";
                        properties.forEach(function(property) {
                            tmp += text.replace("changeit", property.replace('[','').replace(']',''));
                        });
                        res +=  tmp + end;
                        $( ".dropdown-list.user-list" ).html(res);
                    }
                });

            });
        });

        function getNewVal(item){
            $('input.2faActivation').val(item.value);

            $.get("tools/2fa?data="+item.value, function(data) {
                console.log(data);
                $("#qrcode2FA").attr("src",data);
                $("#showDisplay2fa").show("slow");
                $("#showDisplay2faDefault").hide();
            });
            if(item.value == 'false') {
                $("#showDisplay2fa").hide("slow");
                $("#showDisplay2faDefault").hide("slow");
            }
        }

        $(document).load(function () {
            $.get("tools/getnewuser", function(data) {
                var obj = JSON.parse(data);

                if(parseInt(obj.countNewUser) > 0) {
                    //------- change number of new user --------
                    var alertNumberNewUser='<span class="badge">xxx</span>';
                    $('.newUserAlerte').html(alertNumberNewUser.replace('xxx',obj.countNewUser));

                    //------ title of new user ---------
                    var whatIsCookingPlaceholder = /*[[#{alertSuscriptionNewUser}]]*/ '';
                    var titleOfNewUser ='<h5 class="title" text="'+whatIsCookingPlaceholder+'"></h5>';

                    var index = $("#preparationProcessList").find("textarea").length;
                    var elementToAdd = '<h5 class="title"></h5>';

                    //$("#preparationProcessList").append(elementToAdd);

                    $('.titleOfNumberUser').html(elementToAdd);

                    //------ display list of new user -------
                    var a = obj.allNewUser;
                    var properties = a.split(', ');
                    var text='<li class="newUser"><div class="thumb"><a href="yourusers.html"><img src="images/photos/user1.png" alt="" /></a></div><div class="desc"><h5><a href="yourusers.html">changeit</a><span class="badge badge-success">new</span></h5></div></li>';
                    var end='<li class="new"></li>';
                    var tmp="";
                    var res ="";
                    properties.forEach(function(property) {
                        tmp += text.replace("changeit", property.replace('[','').replace(']',''));
                    });
                    res +=  tmp + end;
                    $( ".dropdown-list.user-list" ).html(res);
                }
            });
        });
    </script>

    <script>
        jQuery(document).ready(function(){

            "use strict";

            // Select2
            jQuery(".select2").select2({
                width: '100%',
                minimumResultsForSearch: -1
            });

            // Basic Form
            jQuery("#basicForm").validate({
                highlight: function(element) {
                    jQuery(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                },
                success: function(element) {
                    jQuery(element).closest('.form-group').removeClass('has-error');
                }
            });

            // Error Message In One Container
            jQuery("#basicForm2").validate({
                errorLabelContainer: jQuery("#basicForm2 div.error")
            });

            // With Checkboxes and Radio Buttons
            jQuery("#basicForm3").validate({
                highlight: function(element) {
                    jQuery(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                },
                success: function(element) {
                    jQuery(element).closest('.form-group').removeClass('has-error');
                }
            });

            // Validation with select boxes
            jQuery("#basicForm4").validate({
                highlight: function(element) {
                    jQuery(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                },
                success: function(element) {
                    jQuery(element).closest('.form-group').removeClass('has-error');
                }
            });

        });

    </script>

    <script th:src="@{js/alerte.js}"></script>
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script  th:src="@{/js/html5shiv.js}"></script>
        <script th:src="@{js/respond.min.js}"></script>
        <![endif]-->
 </head>

<div th:fragment="leftpanel" class="leftpanel">

    <div class="logopanel">
        <h1><span>[</span> KindAptitude <span>]</span></h1>
    </div><!-- logopanel -->

    <div class="leftpanelinner">
        <!-- This is only visible to small devices -->
        <div class="visible-xs hidden-sm hidden-md hidden-lg">
            <div class="media userlogged">
                <img src="images/photos/loggeduser.png" alt=""  th:text="${session.firstName} + ' ' + ${session.lastName}" />
                <div class="media-body">
                    <h4 th:text="${session.firstName} + ' ' + ${session.lastName}"></h4>
                </div>
            </div>

            <h5 class="sidebartitle actitle">Account</h5>
            <ul class="nav nav-pills nav-stacked nav-bracket mb30">
                <li><a href="profile.html"><i class="glyphicon glyphicon-user"></i> <span th:text="#{leftpanel.profil}"></span></a></li>
                <li><a  th:href="@{/yourhistory}"><i class="fa fa-history" aria-hidden="true"></i><span th:text="#{leftpanel.logging}"></span></a></li>
                <li th:if="${session.masterGroupe}">
                    <a th:href="@{/yourusers}"><i class="fa fa-users" aria-hidden="true"></i> <span th:text="#{leftpanel.yourUser}"></span></a>
                    <a th:href="@{/subscriptionandcredit}"><i class="glyphicon glyphicon-credit-card"></i> <span th:text="#{leftpanel.SubscriptionAndCredit}"></span></a>
                </li>
                <li><a href="index.html"><i class="glyphicon glyphicon-question-sign"></i> <span th:text="#{leftpanel.help}"></span></a></li>
                <li><a href="#" th:href="@{/logout}"><i class="glyphicon glyphicon-log-out"></i><span th:text="#{leftpanel.logout}"></span></a></li>
            </ul>
        </div>

        <h5 class="sidebartitle" th:text="#{navigation.title}"></h5>

        <ul class="nav nav-pills nav-stacked nav-bracket" th:if="!${session.isAdmin}">
            <li class="active"><a href="home"><i class="fa fa-home"></i> <span th:text="#{leftpanel.dashboard}"></span></a></li>
            <li class="nav-parent"><a th:href="@{/recruitment}"><i class="fa fa-address-card-o"></i> <span th:text="#{navigation.onglet1}"></span></a>
                <ul class="children">
                    <li><a href="general-forms.html"><i class="fa fa-caret-right"></i> General Forms</a></li>
                    <li><a href="form-layouts.html"><i class="fa fa-caret-right"></i> Form Layouts</a></li>
                    <li><a href="form-validation.html"><i class="fa fa-caret-right"></i> Form Validation</a></li>
                    <li><a href="form-wizards.html"><i class="fa fa-caret-right"></i> Form Wizards</a></li>
                    <li><a href="wysiwyg.html"><i class="fa fa-caret-right"></i> Text Editor</a></li>
                    <li><a href="code-editor.html"><i class="fa fa-caret-right"></i> Code Editor</a></li>
                    <li><a href="x-editable.html"><i class="fa fa-caret-right"></i> X-Editable</a></li>
                </ul>
            </li>
            <li class="nav-parent"><a href="index.html"><i class="fa fa-commenting-o"></i> <span th:text="#{navigation.onglet2}"></span></a>
                <ul class="children">
                    <li><a href="buttons.html"><i class="fa fa-caret-right"></i> Buttons</a></li>
                    <li><a href="icons.html"><span class="pull-right badge badge-danger">updated</span><i class="fa fa-caret-right"></i> Icons</a></li>
                    <li><a href="typography.html"><i class="fa fa-caret-right"></i> Typography</a></li>
                    <li><a href="alerts.html"><i class="fa fa-caret-right"></i> Alerts &amp; Notifications</a></li>
                    <li><a href="modals.html"><i class="fa fa-caret-right"></i> Modals</a></li>
                    <li><a href="tabs-accordions.html"><i class="fa fa-caret-right"></i> Tabs &amp; Accordions</a></li>
                    <li><a href="sliders.html"><i class="fa fa-caret-right"></i> Sliders</a></li>
                    <li><a href="graphs.html"><i class="fa fa-caret-right"></i> Graphs &amp; Charts</a></li>
                    <li><a href="widgets.html"><i class="fa fa-caret-right"></i> Panels &amp; Widgets</a></li>
                    <li><a href="extras.html"><i class="fa fa-caret-right"></i> Extras</a></li>
                </ul>
            </li>
            <li class="nav-parent"><a href="index.html"><i class="fa fa-eur"></i> <span th:text="#{navigation.onglet3}"></span></a>
                <ul class="children">
                    <li><a href="bug-tracker.html"><i class="fa fa-caret-right"></i> Summary</a></li>
                    <li><a href="bug-issues.html"><i class="fa fa-caret-right"></i> Issues</a></li>
                    <li><a href="view-issue.html"><i class="fa fa-caret-right"></i> View Issue</a></li>
                </ul>
            </li>
            <li class="nav-parent"><a href="index.html"><i class="fa fa-rocket"></i> <span th:text="#{navigation.onglet5}"></span></a>
                <ul class="children">
                    <li><a href="bug-tracker.html"><i class="fa fa-caret-right"></i> Summary</a></li>
                    <li><a href="bug-issues.html"><i class="fa fa-caret-right"></i> Issues</a></li>
                    <li><a href="view-issue.html"><i class="fa fa-caret-right"></i> View Issue</a></li>
                </ul>
            </li>

            <li class="nav-parent" th:if="${session.masterGroupe}"><a href="index.html"><i class="fa fa-window-restore"></i> <span th:text="#{navigation.onglet4}"></span></a>
                <ul class="children">
                    <li><a th:href="@{/managecb}" th:text="#{onglet4.addCB}" ><i class="fa fa-caret-right"></i></a></li>
                    <li><a th:href="@{/subscriptionandcredit}" th:text="#{onglet4.buy}"><i class="fa fa-caret-right" ></i></a></li>
                    <li><a th:href="@{/managesubscription}" th:text="#{onglet4.manage}"><i class="fa fa-caret-right"></i></a></li>
                </ul>
            </li>


        </ul>

        <ul class="nav nav-pills nav-stacked nav-bracket" th:if="${session.isAdmin}">
            <li class="nav-parent"><a href="index.html">
                <i class="fa fa-users"></i> <span th:text="#{navigation.manageAllUsers}"></span></a>
                <ul class="children">
                    <li><a th:href="@{/allUsers}"><i class="fa fa-caret-right" th:text="#{navigation.allUsers}"></i> </a></li>
                </ul>
            </li>
        </ul>

        <div class="infosummary">
            <h5 class="sidebartitle" th:text="#{information.yourAboutSubscription}"></h5>
            <ul>
                <li>
                    <div class="datainfo">
                        <span class="text-muted" th:text="#{sideBarInfo.numberAvailableEmails}"></span>
                        <h4>630, 201</h4>
                    </div>
                    <div class="fa fa-envelope-o" aria-hidden="true"></div>
                </li>
                <li>
                    <div class="datainfo">
                        <span class="text-muted" th:text="#{sideBarInfo.numberAvailableSMS}"></span>
                        <h4>1, 332, 801</h4>
                    </div>
                    <div class="fa fa-envelope-o" aria-hidden="true"></div>
                </li>
                <li>
                    <div class="datainfo">
                        <span class="text-muted" th:text="#{sideBarInfo.numberUser}"></span>
                        <h4>82.2%</h4>
                    </div>
                    <div class="fa fa-envelope-o" aria-hidden="true"></div>
                </li>

            </ul>
        </div><!-- infosummary -->

    </div><!-- leftpanelinner -->
</div><!-- leftpanel -->


<div th:fragment="headerbar"  class="headerbar">

    <a class="menutoggle"><i class="fa fa-bars"></i></a>

    <form class="searchform" action="index.html" method="post">
        <input type="text" class="form-control" name="keyword" placeholder="Search here..." />
    </form>

    <div class="header-right">
        <ul class="headermenu">
            <li>
                <div class="btn-group">
                    <button class="btn btn-default dropdown-toggle tp-icon" data-toggle="dropdown">

                        <i class="glyphicon glyphicon-user"></i>
                        <div class="newUserAlerte">
                            <!-- constant change -->
                        </div>
                    </button>

                    <!--- -->
                    <div class="dropdown-menu dropdown-menu-head pull-right">
                        <div class="titleOfNumberUser">
                            <!-- constant change -->
                        </div>

                        <ul class="dropdown-list user-list">
                            <!--  constant change -->
                        </ul>
                    </div>


                </div>
            </li>
            <li>
                <div class="btn-group">
                    <button class="btn btn-default dropdown-toggle tp-icon" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-envelope"></i>
                        <span class="badge">1</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-head pull-right">
                        <h5 class="title">You Have 1 New Message</h5>
                        <ul class="dropdown-list gen-list">
                            <li class="new">
                                <a href="index.html">
                                    <span class="thumb"><img src="images/photos/user1.png" alt="" /></span>
                                    <span class="desc">
                      <span class="name">Draniem Daamul <span class="badge badge-success">new</span></span>
                      <span class="msg">Lorem ipsum dolor sit amet...</span>
                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html">
                                    <span class="thumb"><img src="images/photos/user2.png" alt="" /></span>
                                    <span class="desc">
                      <span class="name">Nusja Nawancali</span>
                      <span class="msg">Lorem ipsum dolor sit amet...</span>
                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html">
                                    <span class="thumb"><img src="images/photos/user3.png" alt="" /></span>
                                    <span class="desc">
                      <span class="name">Weno Carasbong</span>
                      <span class="msg">Lorem ipsum dolor sit amet...</span>
                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html">
                                    <span class="thumb"><img src="images/photos/user4.png" alt="" /></span>
                                    <span class="desc">
                                        <span class="name">Zaham Sindilmaca</span>
                                        <span class="msg">Lorem ipsum dolor sit amet...</span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html">
                                    <span class="thumb"><img src="images/photos/user5.png" alt="" /></span>
                                    <span class="desc">
                                                <span class="name">Veno Leongal</span>
                                              <span class="msg">Lorem ipsum dolor sit amet...</span>
                                            </span>
                                </a>
                            </li>
                            <li class="new"><a href="index.html">Read All Messages</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="btn-group">
                    <div class="dropdown-menu dropdown-menu-head pull-right">
                        <h5 class="title">You Have 5 New Notifications</h5>
                        <ul class="dropdown-list gen-list">
                            <li class="new">
                                <a href="index.html">
                                    <span class="thumb"><img src="images/photos/user4.png" alt="" /></span>
                                    <span class="desc">
                      <span class="name">Zaham Sindilmaca <span class="badge badge-success">new</span></span>
                      <span class="msg">is now following you</span>
                    </span>
                                </a>
                            </li>
                            <li class="new">
                                <a href="index.html">
                                    <span class="thumb"><img src="images/photos/user5.png" alt="" /></span>
                                    <span class="desc">
                      <span class="name">Weno Carasbong <span class="badge badge-success">new</span></span>
                      <span class="msg">is now following you</span>
                    </span>
                                </a>
                            </li>
                            <li class="new">
                                <a href="index.html">
                                    <span class="thumb"><img src="images/photos/user3.png" alt="" /></span>
                                    <span class="desc">
                      <span class="name">Veno Leongal <span class="badge badge-success">new</span></span>
                      <span class="msg">likes your recent status</span>
                    </span>
                                </a>
                            </li>
                            <li class="new">
                                <a href="index.html">
                                    <span class="thumb"><img src="images/photos/user3.png" alt="" /></span>
                                    <span class="desc">
                      <span class="name">Nusja Nawancali <span class="badge badge-success">new</span></span>
                      <span class="msg">downloaded your work</span>
                    </span>
                                </a>
                            </li>
                            <li class="new">
                                <a href="index.html">
                                    <span class="thumb"><img src="images/photos/user3.png" alt="" /></span>
                                    <span class="desc">
                      <span class="name">Nusja Nawancali <span class="badge badge-success">new</span></span>
                      <span class="msg">send you 2 messages</span>
                    </span>
                                </a>
                            </li>
                            <li class="new"><a href="index.html">See All Notifications</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <img src="images/photos/loggeduser.png" alt=""  th:text="${session.firstName} + ' ' + ${session.lastName}" />

                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                        <li><a href="profile.html"><i class="glyphicon glyphicon-user"></i> <span th:text="#{leftpanel.profil}"></span></a></li>
                        <li><a  th:href="@{/yourhistory}"><i class="fa fa-history" aria-hidden="true"></i><span th:text="#{leftpanel.logging}"></span></a></li>
                        <li th:if="${session.masterGroupe}">
                            <a th:href="@{/yourusers}"><i class="fa fa-users" aria-hidden="true"></i> <span th:text="#{leftpanel.yourUser}"></span></a>
                            <a th:href="@{/subscriptionandcredit}"><i class="glyphicon glyphicon-credit-card"></i> <span th:text="#{leftpanel.SubscriptionAndCredit}"></span></a>
                        </li>
                        <li><a href="index.html"><i class="glyphicon glyphicon-question-sign"></i> <span th:text="#{leftpanel.help}"></span></a></li>
                        <li><a href="#" th:href="@{/logout}"><i class="glyphicon glyphicon-log-out"></i><span th:text="#{leftpanel.logout}"></span></a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div><!-- header-right -->

</div><!-- headerbar -->


<div th:fragment="tablePrice">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2 class="title">Pick the best plan for you</h2>
                <h5 class="description">You have Free Unlimited Updates and Premium Support on each package.</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <div class="card price-table">
                    <div class="pt-top-bar"></div>
                    <div class="pt-header">
                        <h4 class="text-uppercase">Start</h4>
                        <h2>
                            <sup class="f-22">$</sup>
                            <span class="f-50">99</span>
                            <span class="f-14">/ mo</span>
                        </h2>
                    </div>
                    <ul class="pt-body list-group text-left">
                        <li class="list-group-item">
                            <i class="fa fa-check"></i> 1 Website
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-check"></i> Unlimited bandwidth
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-check"></i> 500 GB Space
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-check"></i> 30 email accounts
                        </li>
                        <li class="list-group-item na">
                            <i class="fa fa-times"></i> Free support for two years
                        </li>
                        <li class="list-group-item na">
                            <i class="fa fa-times"></i> Free upgrade for one year
                        </li>
                    </ul>
                    <div class="pt-footer text-center">
                        <a href="" class="btn">Start your free trial</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card price-table recommended">
                    <div class="pt-top-bar"></div>
                    <div class="pt-header">
                        <h4 class="text-uppercase">Premium</h4>
                        <h2>
                            <sup class="f-22">$</sup>
                            <span class="f-50">179</span>
                            <span class="f-14">/ mo</span>
                        </h2>
                    </div>
                    <ul class="pt-body list-group text-left">
                        <li class="list-group-item">
                            <i class="fa fa-check"></i> 5 Websites
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-check"></i> Unlimited bandwidth
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-check"></i> 1 TB Space
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-check"></i> 50 email accounts
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-check"></i> Free support for two years
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-check"></i> Free upgrade for one year
                        </li>
                    </ul>
                    <div class="pt-footer text-center">
                        <a href="" class="btn">Start your free trial</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card price-table">
                    <div class="pt-top-bar"></div>
                    <div class="pt-header">
                        <h4 class="text-uppercase">Business</h4>
                        <h2>
                            <sup class="f-22">$</sup>
                            <span class="f-50">249</span>
                            <span class="f-14">/ mo</span>
                        </h2>
                    </div>
                    <ul class="pt-body list-group text-left">
                        <li class="list-group-item">
                            <i class="fa fa-check"></i> Unlimited Websites
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-check"></i> Unlimited bandwidth
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-check"></i> 3 TB Space
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-check"></i> 100 email accounts
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-check"></i> Free support for two years
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-check"></i> Free upgrade for one year
                        </li>
                    </ul>
                    <div class="pt-footer text-center">
                        <a href="" class="btn">Start your free trial</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card price-table">
                    <div class="pt-top-bar"></div>
                    <div class="pt-header">
                        <h4 class="text-uppercase">Enterprise</h4>
                        <h2>
                            <sup class="f-22">$</sup>
                            <span class="f-50">329</span>
                            <span class="f-14">/ mo</span>
                        </h2>
                    </div>
                    <ul class="pt-body list-group text-left">
                        <li class="list-group-item">
                            <i class="fa fa-check"></i> Unlimited Websites
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-check"></i> Unlimited bandwidth
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-check"></i> 5 TB Space
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-check"></i> 200 email accounts
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-check"></i> Free support for two years
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-check"></i> Free upgrade for one year
                        </li>
                    </ul>
                    <div class="pt-footer text-center">
                        <a href="" class="btn m-r-30">Try</a>
                        <a href="" class="btn">Buy</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="row price-table-alt m-t-30">
            <div class="col-sm-3">
                <div class="card price-table">
                    <div class="pt-top-bar"><h4 class="text-uppercase">Start</h4></div>
                    <div class="pt-header">
                        <h2>
                            <sup class="f-22">$</sup>
                            <span class="f-50">99</span>
                            <span class="f-14">/ mo</span>
                        </h2>
                    </div>
                    <ul class="pt-body list-group text-left">
                        <li class="list-group-item">
                            <i class="fa fa-check"></i> 1 Website
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-check"></i> Unlimited bandwidth
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-check"></i> 500 GB Space
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-check"></i> 30 email accounts
                        </li>
                        <li class="list-group-item na">
                            <i class="fa fa-times"></i> Free support for two years
                        </li>
                        <li class="list-group-item na">
                            <i class="fa fa-times"></i> Free upgrade for one year
                        </li>
                    </ul>
                    <div class="pt-footer text-center">
                        <a href="" class="btn m-r-30 p-l-20 p-r-20">Try</a>
                        <a href="" class="btn btn-alt p-l-20 p-r-20">Buy</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card price-table">
                    <div class="pt-top-bar"><h4 class="text-uppercase">Premium</h4></div>
                    <div class="pt-header">
                        <h2>
                            <sup class="f-22">$</sup>
                            <span class="f-50">179</span>
                            <span class="f-14">/ mo</span>
                        </h2>
                    </div>
                    <ul class="pt-body list-group text-left">
                        <li class="list-group-item">
                            <i class="fa fa-check"></i> 5 Websites
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-check"></i> Unlimited bandwidth
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-check"></i> 1 TB Space
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-check"></i> 50 email accounts
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-check"></i> Free support for two years
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-check"></i> Free upgrade for one year
                        </li>
                    </ul>
                    <div class="pt-footer text-center">
                        <a href="" class="btn m-r-30 p-l-20 p-r-20">Try</a>
                        <a href="" class="btn btn-alt p-l-20 p-r-20">Buy</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card price-table recommended">
                    <div class="pt-top-bar"><h4 class="text-uppercase">Business</h4></div>
                    <div class="pt-header">
                        <h2>
                            <sup class="f-22">$</sup>
                            <span class="f-50">249</span>
                            <span class="f-14">/ mo</span>
                        </h2>
                    </div>
                    <ul class="pt-body list-group text-left">
                        <li class="list-group-item">
                            <i class="fa fa-check"></i> Unlimited Websites
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-check"></i> Unlimited bandwidth
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-check"></i> 3 TB Space
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-check"></i> 100 email accounts
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-check"></i> Free support for two years
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-check"></i> Free upgrade for one year
                        </li>
                    </ul>
                    <div class="pt-footer text-center">
                        <a href="" class="btn m-r-30 p-l-20 p-r-20">Try</a>
                        <a href="" class="btn btn-alt p-l-20 p-r-20">Buy</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card price-table">
                    <div class="pt-top-bar"><h4 class="text-uppercase">Enterprise</h4></div>
                    <div class="pt-header">
                        <h2>
                            <sup class="f-22">$</sup>
                            <span class="f-50">329</span>
                            <span class="f-14">/ mo</span>
                        </h2>
                    </div>
                    <ul class="pt-body list-group text-left">
                        <li class="list-group-item">
                            <i class="fa fa-check"></i> Unlimited Websites
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-check"></i> Unlimited bandwidth
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-check"></i> 5 TB Space
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-check"></i> 200 email accounts
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-check"></i> Free support for two years
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-check"></i> Free upgrade for one year
                        </li>
                    </ul>
                    <div class="pt-footer text-center">
                        <a href="" class="btn m-r-30 p-l-20 p-r-20">Try</a>
                        <a href="" class="btn btn-alt p-l-20 p-r-20">Buy</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div><!-- tablePrice -->
<body>
<div th:fragment="before-body-scripts">
    <script th:src="@{/js/siret.js}"></script>
    <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.js}"></script>
    <script th:src="@{js/jquery.datatables.min.js}"></script>


    <script th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
    <script th:src="@{/js/jquery-ui-1.10.3.min.js}"></script>

    <script th:src="@{/js/formValidation/formValidation.js}"></script>
    <script th:src="@{/js/formValidation/bootstrap.js}"></script>
    <script th:src="@{/js/devopsbuddy.js}"></script>
    <script th:src="@{/js/select2.min.js}"></script>


 <script th:src="@{/js/modernizr.min.js}"></script>
    <script th:src="@{/js/jquery.sparkline.min.js}"></script>
    <script th:src="@{/js/toggles.min.js}"></script>
    <script th:src="@{/js/retina.min.js}"></script>
    <script th:src="@{/js/jquery.cookies.js}"></script>

    <script th:src="@{/js/flot/jquery.flot.min.js}"></script>
    <script th:src="@{/js/flot/jquery.flot.resize.min.js}"></script>
    <script th:src="@{/js/flot/jquery.flot.spline.min.js}"></script>
    <script th:src="@{/js/morris.min.js}"></script>
    <script th:src="@{/js/raphael-2.1.0.min.js}"></script>

    <script th:src="@{/js/custom.js}"></script>
    <!--<script th:src="@{/js/dashboard.js}"></script>-->


</div>
</body>
</html>