<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/headerLogin :: common-header"/>

<body class="signin">

<section>


    <br/>
    <div class="signinpanel">
        <div class="putAlert">
            <div class="col-md-12  text-center">
                <div th:if="${passwordReset == 'true'}" class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                    <p th:text="#{resetPassword.success.message}" />
                </div>
                <div th:if="${passwordReset == 'false'}" class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                    <p th:text="${message}" />
                </div>
            </div>
        </div>
        <div class="row">


            <div class="col-md-12">

            <div class="ibox-contentforgotPassword">

                <!-- Login Form -->
                <form id="savePasswordForm" th:action="@{/changeuserpassword}" method="post" role="form">
                    <input type="hidden" name="principal_id" id="principal_id" th:value="${principalId}" />
                    <div class="form-group">
                        <label for="password" th:text="#{login.password.text}"></label>
                        <input type="password" class="form-control" id="password" name="password"  />
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword" th:text="#{signup.form.confirm.password}"></label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"/>
                    </div>
                    <!-- Submit -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" th:text="#{resetPassword.savePassword}"></button>
                    </div>
                </form>
            </div><!-- col-sm-12 -->
            </div><!-- ibox-contentforgotPassword -->
        </div><!-- row -->


        <div class="signup-footer">
            <div class="pull-left">
                &copy; 2014. All Rights Reserved. Bracket Bootstrap 3 Admin Template
            </div>
            <div class="pull-right">
                Created By: <a href="http://themepixels.com/" target="_blank">ThemePixels</a>
            </div>
        </div>

    </div><!-- signin -->

</section>


<div th:replace="common/headerLogin :: before-body-scripts" />
</body>
</html>
