<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/headerLogin :: common-header"/>

<body class="signin">

<section>

        <div class="signinpanel">
            <div class="putAlertLogin">
                <div class="col-md-12  text-center">
                <div th:if="${param.error}" class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                    <p th:text="#{login.error.message}" />
                </div>
                <div th:if="${param.logout}" class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                    <p th:text="#{login.logout.success}" />
                </div>
            </div>
            </div>
        <div class="row">

            <div class="col-md-6">

                <div class="signin-info">
                    <div class="logopanel">
                        <h1><span>[</span> demo <span>]</span></h1>
                    </div><!-- logopanel -->

                    <div class="mb20"></div>

                    <h5><strong> <p th:text="#{login.welcomString}"> </p></strong></h5>
                    <ul>
                        <li><i class="fa fa-arrow-circle-o-right mr5"></i> Fully Responsive Layout</li>
                        <li><i class="fa fa-arrow-circle-o-right mr5"></i> HTML5/CSS3 Valid</li>
                        <li><i class="fa fa-arrow-circle-o-right mr5"></i> Retina Ready</li>
                        <li><i class="fa fa-arrow-circle-o-right mr5"></i> WYSIWYG CKEditor</li>
                        <li><i class="fa fa-arrow-circle-o-right mr5"></i> and much more...</li>
                    </ul>
                    <div class="mb20"></div>
                    <strong th:text="#{login.NotAmember}"></strong>
                    <a th:href="@{/signup}"> <strong th:text="#{login.SignUp}"></strong></a>
                </div><!-- signin0-info -->

            </div><!-- col-sm-7 -->

                <div class="col-md-6">
                <form method="post"  id="loginForm" th:action="@{/login}">
                    <h4 class="nomargin"><p th:text="#{login.SignIn}"></p></h4>
                    <p class="mt5 mb20"><p th:text="#{login.stringToSignIn}"></p></p>
                    <div class="form-group">
                        <input type="text" class="form-control uname" th:placeholder="#{login.YourEmail}" id="username" name="username" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control pword" th:placeholder="#{login.YourPassword}" id="password" name="password" />
                    </div>
                    <!-- th:if="${enableCaptcha}" -->
                    <div class="form-group row" th:if="${enableCaptcha}">
                        <!-- to enable captcha uncomment the keys in application.properties -->
                        <label class="col-sm-3">Captcha</label><br/>
                        <div id="captcha" class="g-recaptcha" th:attr="data-sitekey=${@CaptchaService.getReCaptchaSite()}" data-callback="onReCaptchaSuccess" data-expired-callback="onReCaptchaExpired"></div>
                        <span id="captchaError" class="alert alert-danger col-sm-4" style="display:none"></span>
                    </div>

                    <a th:href="@{/forgotmypassword}"><small th:text="#{login.forgot}"></small></a>
                    <button type="submit" class="btn btn-success btn-block" th:text="#{login.action.button}"></button>

                </form>
            </div><!-- col-sm-5 -->

        </div><!-- row -->

        <div class="signup-footer">
            <div class="pull-left">
                &copy; 2014. All Rights Reserved. Bracket Bootstrap 3 Admin Template
            </div>
            <div class="pull-right">
                Created By: <a href="http://themepixels.com/" target="_blank">ThemePixels</a>
            </div>
        </div>

    </div><!-- signin -->

</section>


<div th:replace="common/headerLogin :: before-body-scripts" />

</body>
</html>
