<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <style>
        .password-verdict{
            color:#000;
        }
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script th:src="@{/resources/pwstrength.js}"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <meta http-equiv="Content-Type" content="text/html; charset=US-ASCII"/>
    <title th:text="#{label.form.title}">form</title>
</head>
<body>
<div class="container">
    <div >
        <h1 th:text="#{label.form.title}">form</h1>
        <br/>
        <form action="registrationCaptchaValidation" method="POST" enctype="utf8">
            <div class="form-group row" >
                <label class="col-sm-3" th:text="#{label.user.firstName}">first</label>
                <span class="col-sm-5"><input class="form-control" name="firstName" value="" required="required"/></span>
                <span id="firstNameError" class="alert alert-danger col-sm-4" style="display:none"></span>

            </div>

            <div class="form-group row">
                <!-- to enable captcha uncomment the keys in application.properties -->
                <label class="col-sm-3">Captcha</label>
                <div class="g-recaptcha col-sm-5" th:attr="data-sitekey=${@captchaService.getReCaptchaSite()}" data-callback="onReCaptchaSuccess" data-expired-callback="onReCaptchaExpired"></div>
                <span id="captchaError" class="alert alert-danger col-sm-4" style="display:none"></span>
            </div>
            <br/>
            <button type="submit" class="btn btn-primary" th:text="#{label.form.submit}">submit</button>
        </form>
        <br/>
        <a th:href="@{/login}" th:text="#{label.form.loginLink}">login</a>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var serverContext = [[@{/}]];

    function register(event){
        event.preventDefault();
        if (typeof grecaptcha !== 'undefined') {
            var resp = grecaptcha.getResponse();
            if (resp.length == 0) {
                $("#captchaError").show().html("Please verify that you are not a robot.");
                return;
            }
        }
        var formData= $('form').serialize();
        $.post(serverContext + "user/registrationCaptcha",formData ,function(data){
            console.Log("send information");
            if(data.message == "success"){
               console.log("good");
            }

        })
    }
    /*]]>*/
</script>
</body>
</html>